html { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; font-weight: 400; }

body { font-family: "CeraGR"; font-weight: 300; color: #232323; position: relative; }

/* 
* ==========================================================
*     Fonts declration
* ==========================================================
*/
@font-face { font-family: "CeraGR"; src: url("../fonts/CeraGR.otf"); font-weight: 100; }
@font-face { font-family: "CeraGR"; src: url("../fonts/CeraGR-Thin.otf"); font-weight: 200; }
@font-face { font-family: "CeraGR"; src: url("../fonts/CeraGR-Light.otf"); font-weight: 300; }
@font-face { font-family: "CeraGR"; src: url("../fonts/CeraGR.otf"); font-style: normal; font-weight: 400; }
@font-face { font-family: "GE_Flow_Regular"; src: url("../fonts/GE_Flow_Regular.html"); font-weight: 400; }
@font-face { font-family: "CeraGR"; src: url("../fonts/CeraGR-Medium.otf"); font-weight: 500; }
@font-face { font-family: "CeraGR"; src: url("../fonts/CeraGR-Bold.otf"); font-weight: 600; }
@font-face { font-family: "CeraGR"; src: url("../fonts/CeraGR-Black.otf"); font-weight: 800; }
@font-face { font-family: 'CeraGR'; src: url("../fonts/CeraGR-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraGR-Regular.otf") format("opentype"), url("../fonts/CeraGR-Regular.woff") format("woff"), url("../fonts/CeraGR-Regular.ttf") format("truetype"), url("../fonts/CeraGR-Regular.svg#CeraGR-Regular") format("svg"); font-weight: normal; font-style: normal; }
h1 { font-weight: 800; font-family: 'CeraGR', sans-serif; }
h2 { font-weight: 600; font-family: 'CeraGR', sans-serif; }
h3 { font-weight: 600; font-family: 'CeraGR', sans-serif; }
h4 { font-weight: 600; font-family: 'CeraGR', sans-serif; }
h5 { font-weight: 600; font-family: 'CeraGR', sans-serif; }
p { font-size: 16px;  }

img, img:hover, img:focus { outline: none; }

a, a:hover { text-decoration: none; }

.clear { clear: both; }


/****
HEADER
***/
.header{width: 100%; min-height: 116px; position: absolute; top: 0px;z-index: 1; padding:30px 0 0}
.header .logo{width: 200px; margin: 0px auto; display: block;}
.header .menu-spans span{width: 40px; height: 2px; background: #fff; margin-bottom: 6px; display: block; }
.header .menu-spans span:nth-child(3){width: 32px;}
.header .tp-social ul{margin: 0px; padding: 0px; list-style: none;float: right;}
.header .tp-social ul li{display: inline-block;color: #000; margin-right: 10px;}
.header .tp-social ul li a{color:#000;}

/****
Fold 1
***/

.fold1{width: 100%; min-height:600px; height:auto; }
.fold1-left{background: url('../img/banner-bckgrnd.jpg')no-repeat; background-size: cover;   }
.fold1-left--wrap{padding:220px 235px 250px 100px;color:#fff; min-height: 600px;}
.fold1-left--wrap h2{text-transform: uppercase; margin-bottom: 35px;font-size:2.5rem;}
.fold1-left--wrap p{margin-bottom: 80px;}
.fold1-left--wrap ul{margin: 0px; padding: 0px; list-style: none;display: inline-flex;}
.fold1-left--wrap ul li{display: inline-block; margin-right: 10px;}
.fold1-left--wrap ul li:last-child{margin-right: 0px;}
.fold1-left--wrap ul li img{width: 80%; }
.fold1-left--wrap span.btm-text{position: absolute; bottom: 70px;color: #fff; font-size: 12px;font-family: 'CeraGR'; font-weight: 300; ;letter-spacing: 2px; text-transform: uppercase;}
.fold1-left--wrap span.btm-text a{color: #fff;}

.fold1-right{position: relative;}
.fold1-right .enquire-form-wrap{background: #fff;padding:35px 40px; min-width:450px; min-height:400px; position: absolute; top: 200px; right:155px; z-index: 2;
 }
 .fold1-right .enquire-form-wrap h4{font-size: 15px; text-transform: uppercase; letter-spacing: 1.5px; margin: 0 0 15px;font-family: 'Montserrat', sans-serif;}
 .fold1-right .enquire-form-wrap p{font-family: 'Montserrat', sans-serif;font-weight: 400;font-size: 13.5px;}
 .fold1-right .enquire-form-wrap form{margin-top:35px;}
 .fold1-right .enquire-form-wrap input{width: 100%; min-height: 35px; border:1px solid #e8e8e8; padding:12px 15px;outline: none;}
 .fold1-right .enquire-form-wrap input::placeholder{text-transform: uppercase; font-weight: 400; color: #e8e8e8; letter-spacing: 2px; font-size: 12px; }
 .fold1-right .enquire-form-wrap .sbt-btm{background: #ad3030; text-align: center; text-transform: uppercase; letter-spacing: 2.1px; font-size: 15px; width: 100%; border-radius: 0px; color:#fff; min-height: 40px;}

 .fold2{width:100%;min-height:600px;background: url('../img/whitedesignbg.png') no-repeat;background-position: top left;background-size: contain;padding: 100px 0 150px;}
 .fold2-left{padding-top: 100px; }
 .fold2-left img{width: 100%; }
 .fold2-right{padding-top: 100px; }
 .fold2-right section{padding:0 40px 0 0px}
 .fold2-right section h2{color:#3b3b3b; font-weight: 600; font-size:40px;  }
 .fold2-right section h2 span{color:#e26d33;}
 .fold2-right section p{color:#0e1011;}
 .fold2-right section p a{background-color: #ad3030; color:#fff; font-weight: 600; text-transform: uppercase;margin: 20px 0;    display: inline-block;  padding: 13px 19px; letter-spacing: 1px;}
/****
Main
***/

.main-wrapper { width: 100%; height: auto; position: relative; overflow: hidden; }

/****
Footer
***/
.footer { min-height: 150px; width: 100%; background: #fff; padding-top:10px; padding-bottom: 20px; }
.footer .row{border-top: 1px solid #e2dbdb;padding-top: 30px;}
.footer-left{ font-size: 14px;color: #5c5c5c; font-weight: 400;}
.footer-left img{width: 200px; }
.footer-right ul{margin: 0px; padding:0px; list-style:none;float: right;}
.footer-right ul li{color:#5c5c5c; margin-bottom: 10px;font-family: 'Montserrat';text-transform: uppercase;font-weight: 600; font-size: 15px;}
.footer-right ul li a{color:#5c5c5c;text-transform: inherit;}
.fold3 {
    width: 100%;
    background: #f6f6f6;
    padding: 100px 0;
}

.fold3 h2 {
    font-size: 42px;
    font-weight: 600;
    color: #3b3b3b;
    margin: 0 0 15px;
}

.fold3 h2 span {
    color: #e26d33;
}

.fold3-heading {
    text-align: center;
}

.fold3-heading p {
    font-size: 22px;
    line-height: 40px;
    color: #0e1011;
}

.footer {
    width: 100%;
    background: #f6f6f6;

}
.systems section{padding-left:95px; position:relative; margin:90px 0 0;}
.systems span{font-size:25px; font-weight:600; text-transform:uppercase; color:#e46a0e; width:65px; height:65px;
border:4px solid #e46a0e; display:block; text-align:center; line-height:55px; position:absolute; left:0; top:0;}
.systems h3{font-size:25px; line-height:30px; color:#282829;text-transform:uppercase;}
.systems p{font-size:18px; font-weight:300; color:#0e1011; padding:25px 0 0;}
.getstarted {
    width: 100%;
    padding: 34px;
    background: #ad3030 url('../img/arrow-icon.png') no-repeat right 45px top 50px;
    margin: 90px 0 0;
}

.getstarted h3 {
    font-size: 33px;
    color: #FFF;
    line-height: 40px;
    padding: 0;
}

.getstarted p {
    color: #FFF;
    font-size: 16px;
    margin: 0;
    padding: 25px 0 0;
}
.getstarted p b {
    font-weight: 600;
}
/****
Responsive
***/
@media(min-width:100px) and (max-width: 900px) {
.menu-spans{display:none;}	
.fold1-left--wrap{    padding:180px 0px 45px 0px;}
.header .tp-social ul{width:116px; margin:0px auto; display:block;float:none;}
.fold1-left{text-align:center;}
.fold1-left--wrap h2{text-align:center;    font-size: 2.2rem;}
.fold1-right .enquire-form-wrap{ position: relative; top: 0px; right: 0px;width: 100%;min-width: 100%;}
.fold1-right .enquire-form-wrap{    padding: 35px 15px;}
.fold2-left,.fold2-right{text-align:center;}
.fold2-right section{padding:0px;}
.fold2-right section h2{font-size: 30px;}
.fold3 h2{font-size: 30px;}
.fold3-heading p{    font-size: 18px;  line-height: 26px;}
 }

